*{
  border: 2px solid blue 
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  }

h1 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.rowTwo {
  display: flex;
  justify-content: center;
  gap: 20%;
  transform:translate(0px, -60px);
}

#name {
  width: 150px;
}

#nameInput {
  transform: translate(0px, 10px);
}

#levelInput{
  transform: translate(0px, 10px);
}

.rowThree {
  display: flex;
  justify-content: center;
  gap: 30%;
  transform:translate(0px, -40px);
}

#textInput{
  transform: translate(25px, 0px);
}

#timer {
  transform: translate(-50px, 20px);
}

#img {
  max-width: 500px;
  max-height: fit-content;
}

.image{
  background-color:white;
}
.image.active {
  background-color: grey;
  filter: brightness(30%);

}
#stats{
  width: 500px;
}

#medNumber{
  width: 100%;
}
#hungerNumber {
  width: 100%;
}
#trainNumber {
  width: 100%;
}