* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  }

  main{
    max-height: 100vh;
    position: fixed;
    
  }

  h1 {
    padding-top: 60px;
  }


.rowTwo {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

#nameInput {
  width: 150px;
}

#levelInput{
  width: 150px;
}

.rowThree {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  
}

#textInput{
  margin-left: 50px; 
  width: 300px; 
  padding-left: 55px;
  z-index: 1;
}

#timer {
  justify-content: center;
  align-items: center;
}

#img {
  max-width: 400px;
  max-height: 400px;
}

#img.active{
  max-width: 400px;
  max-height: 400px;

  animation: headShake;
  animation-duration: 3s;
  animation-iteration-count: infinite;

}

#image{
  background-color:white;
  justify-content: center;
  align-items: center;
}
#image.active {
  background-color: grey;
  filter: brightness(30%);
}

#stats{
  display: flex;
  justify-content: center;
}

#medNumber{
  width: 100%;
  
}
#hungerNumber {
  width: 100%;
}
#trainNumber {
  width: 100%;
}

nav{
  padding: 20px;
}

